-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: bibliodj
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `amende`
--

DROP TABLE IF EXISTS `amende`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `amende` (
  `id_amende` int NOT NULL AUTO_INCREMENT,
  `id_univ` int NOT NULL,
  `id_emprunt` int NOT NULL,
  `id_membre` int NOT NULL,
  `jours_retard` int NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `date_creation` date NOT NULL DEFAULT (curdate()),
  `statut` enum('impayee','en_attente_paiement','payee') COLLATE utf8mb4_unicode_ci DEFAULT 'impayee',
  `date_paiement` date DEFAULT NULL,
  PRIMARY KEY (`id_amende`),
  KEY `id_univ` (`id_univ`),
  KEY `id_emprunt` (`id_emprunt`),
  KEY `id_membre` (`id_membre`),
  CONSTRAINT `amende_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE RESTRICT,
  CONSTRAINT `amende_ibfk_2` FOREIGN KEY (`id_emprunt`) REFERENCES `emprunt` (`id_emprunt`) ON DELETE CASCADE,
  CONSTRAINT `amende_ibfk_3` FOREIGN KEY (`id_membre`) REFERENCES `membre` (`id_membre`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amende`
--

LOCK TABLES `amende` WRITE;
/*!40000 ALTER TABLE `amende` DISABLE KEYS */;
INSERT INTO `amende` VALUES (6,1,16,2,6,300.00,'2026-03-07','impayee',NULL);
/*!40000 ALTER TABLE `amende` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emprunt`
--

DROP TABLE IF EXISTS `emprunt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emprunt` (
  `id_emprunt` int NOT NULL AUTO_INCREMENT,
  `id_univ` int NOT NULL,
  `id_membre` int NOT NULL,
  `id_livre` int NOT NULL,
  `id_bibliothecaire` int DEFAULT NULL,
  `date_emprunt` date NOT NULL DEFAULT (curdate()),
  `date_retour_prevue` date NOT NULL,
  `date_retour_reelle` date DEFAULT NULL,
  `statut` enum('actif','rendu','retard','en_attente') COLLATE utf8mb4_unicode_ci DEFAULT 'actif',
  `notes` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_emprunt`),
  KEY `id_univ` (`id_univ`),
  KEY `id_membre` (`id_membre`),
  KEY `id_livre` (`id_livre`),
  KEY `id_bibliothecaire` (`id_bibliothecaire`),
  CONSTRAINT `emprunt_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE RESTRICT,
  CONSTRAINT `emprunt_ibfk_2` FOREIGN KEY (`id_membre`) REFERENCES `membre` (`id_membre`) ON DELETE RESTRICT,
  CONSTRAINT `emprunt_ibfk_3` FOREIGN KEY (`id_livre`) REFERENCES `livre` (`id_livre`) ON DELETE RESTRICT,
  CONSTRAINT `emprunt_ibfk_4` FOREIGN KEY (`id_bibliothecaire`) REFERENCES `utilisateur` (`id_user`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emprunt`
--

LOCK TABLES `emprunt` WRITE;
/*!40000 ALTER TABLE `emprunt` DISABLE KEYS */;
/*!40000 ALTER TABLE `emprunt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscription_demande`
--

DROP TABLE IF EXISTS `inscription_demande`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscription_demande` (
  `id_demande` int NOT NULL AUTO_INCREMENT,
  `id_univ` int NOT NULL,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prenom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telephone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_membre` enum('etudiant','enseignant') COLLATE utf8mb4_unicode_ci DEFAULT 'etudiant',
  `filiere` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `niveau` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `statut` enum('en_attente','approuvee','rejetee') COLLATE utf8mb4_unicode_ci DEFAULT 'en_attente',
  `date_demande` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_demande`),
  KEY `id_univ` (`id_univ`),
  CONSTRAINT `inscription_demande_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscription_demande`
--

LOCK TABLES `inscription_demande` WRITE;
/*!40000 ALTER TABLE `inscription_demande` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscription_demande` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livre`
--

DROP TABLE IF EXISTS `livre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livre` (
  `id_livre` int NOT NULL AUTO_INCREMENT,
  `id_univ` int NOT NULL,
  `isbn` varchar(17) COLLATE utf8mb4_unicode_ci NOT NULL,
  `titre` varchar(250) COLLATE utf8mb4_unicode_ci NOT NULL,
  `auteur` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `editeur` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `annee_pub` year DEFAULT NULL,
  `categorie` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `nb_exemplaires` int DEFAULT '1',
  `nb_disponibles` int DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_livre`),
  UNIQUE KEY `uk_isbn_univ` (`isbn`,`id_univ`),
  KEY `id_univ` (`id_univ`),
  CONSTRAINT `livre_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livre`
--

LOCK TABLES `livre` WRITE;
/*!40000 ALTER TABLE `livre` DISABLE KEYS */;
/*!40000 ALTER TABLE `livre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membre`
--

DROP TABLE IF EXISTS `membre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `membre` (
  `id_membre` int NOT NULL AUTO_INCREMENT,
  `id_univ` int NOT NULL,
  `numero_carte` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prenom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` text COLLATE utf8mb4_unicode_ci,
  `type_membre` enum('etudiant','enseignant','personnel') COLLATE utf8mb4_unicode_ci DEFAULT 'etudiant',
  `filiere` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `niveau` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_inscription` date NOT NULL DEFAULT (curdate()),
  `actif` tinyint(1) DEFAULT '1',
  `photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_membre`),
  UNIQUE KEY `numero_carte` (`numero_carte`),
  KEY `id_univ` (`id_univ`),
  CONSTRAINT `membre_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membre`
--

LOCK TABLES `membre` WRITE;
/*!40000 ALTER TABLE `membre` DISABLE KEYS */;
/*!40000 ALTER TABLE `membre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id_notif` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('info','warn','success','danger') COLLATE utf8mb4_unicode_ci DEFAULT 'info',
  `lu` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_notif`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
INSERT INTO `notification` VALUES (1,2,'­ƒÆ│ Paiement en ligne demand├® : Fadumo Abdillahi souhaite payer son amende de 850 FDJ (Amende #7). Veuillez confirmer.','info',0,'2026-03-08 19:21:19'),(2,4,'­ƒÆ│ Paiement en ligne demand├® : Fadumo Abdillahi souhaite payer son amende de 850 FDJ (Amende #7). Veuillez confirmer.','info',0,'2026-03-08 19:21:19');
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `universite`
--

DROP TABLE IF EXISTS `universite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `universite` (
  `id_univ` int NOT NULL AUTO_INCREMENT,
  `code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_court` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ville` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'Djibouti-Ville',
  `adresse` text COLLATE utf8mb4_unicode_ci,
  `telephone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo_emoji` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT 0xF09F8E93,
  `couleur` varchar(7) COLLATE utf8mb4_unicode_ci DEFAULT '#0E47A1',
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_univ`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `universite`
--

LOCK TABLES `universite` WRITE;
/*!40000 ALTER TABLE `universite` DISABLE KEYS */;
INSERT INTO `universite` VALUES (1,'UD','Universit├® de Djibouti','Univ. Djibouti','Djibouti-Ville',NULL,NULL,'biblio@univ.dj','­ƒÄô','#0E47A1',1,'2026-03-06 13:12:51'),(2,'UG','Universit├® du Golfe','Univ. Golfe','Djibouti-Ville',NULL,NULL,'biblio@univgolfe.dj','­ƒÅ½','#1B8B3B',1,'2026-03-06 13:12:51'),(3,'AA','Acadamic Arabe','Acadamic Djibouti','Djibouti-Ville',NULL,NULL,'biblio@isg.dj','­ƒôè','#8B1A1A',1,'2026-03-06 13:12:51'),(4,'IUT','Institut Universitaire de Technologie','IUT Djibouti','Djibouti-Ville',NULL,NULL,'biblio@iut.dj','ÔÜÖ´©Å','#5C3D1E',1,'2026-03-06 13:12:51');
/*!40000 ALTER TABLE `universite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `id_univ` int DEFAULT NULL,
  `username` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_clair` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('superadmin','admin','bibliothecaire','etudiant','enseignant') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_membre` int DEFAULT NULL,
  `actif` tinyint(1) DEFAULT '1',
  `derniere_connexion` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`),
  KEY `id_univ` (`id_univ`),
  CONSTRAINT `utilisateur_ibfk_1` FOREIGN KEY (`id_univ`) REFERENCES `universite` (`id_univ`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-16 13:24:28
